/* .siva {
   
    z-index: 100;
    position: fixed !important;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  ul,li {
    text-align: center !important;
    align-items: center !important;
  } */
  *{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  #abc{
    width:100%;
    /* height:100vh; */
    /* background-image: url(img2.jpg); */
    background-size: cover;
  }
  nav{
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:#088;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }